/* Overskrive standard CSS på elementer */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
